<ion-header-bar class="bar-positive" align-title="center">
	<h1 class="title">我的收藏</h1>
</ion-header-bar>
<ion-content class="has-tabs has-header">
	<div class="item item-thumbnail-left">
		<img ng-src="./shopApi/images/25.jpg" alt="" class="full-image">
		<h3>放风筝的人</h3>
		<p>胡塞尼</p>
		<p class="list_price">￥98.00</p>
	</div>
	<div class="item item-thumbnail-left">
		<img ng-src="./shopApi/images/21.jpg" alt="" class="full-image">
		<h3>睡不着</h3>
		<p>Tango 著</p>
		<p class="list_price">￥24.00</p>
	</div>
</ion-content>